@media (max-width:991px){

    html{
        font-size: 55%;
    }

    section.container{
        padding:0;
    }
}
@media (max-width:788px){

    #menu{
        display: block;
    }

    header{
        padding:2rem 3%;
    }

    header .navbar{
        position: absolute;
        top:100%;
        left:0;
        width:100%;
        background:#f9f9f9;
        text-align: center;
        padding:2rem 0;
        border-top: .1rem solid rgba(0,0,0,.1);
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;
    }

    header .navbar.nav-toggle{
        transform: scaleY(1);
        opacity: 1;
    }

    header .navbar a{
        display: block;
        padding:1rem 0;
        margin:1rem 0;
        font-size: 2.5rem;
    }
    section{
        padding:0 3%;
        padding-top: 9rem;
    }

    .home{
        background:linear-gradient(rgba(255,255,255,.7),rgba(255,255,255,.7)), url(../images/home-bg.jpg) no-repeat;
        background-position: left;
    }

    .home .content{
        width: auto;
    }

    .bottom{
        margin-top: 40px auto;
        padding: 0 50px;
    }
    
    .bottom .row {
        display: block;
        flex-direction: column;
    }
    .bottom .row .left{
        height: 100%;
        width: 100%;
        display: block;
    }
    .bottom .row .right{
        display: block;
        height: 100%;
        width: 100%;
        background-color: var(--white);
        margin-left: 0;
    }
}